.category_container {
  border: 1px solid whitesmoke;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  width: 360px;
  height: auto;
  background-color: rgb(39, 38, 38);
  color: whitesmoke;
  height: 480px;
}

.image_container {
  padding: 20px 10px;
  text-align: center;
}

.text_container {
  padding: 20px 10px;
}

.category_heading {
  margin: 10px 20px;
  font-size: 24px;
}

.imgtxt_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 780px) {
  .catgory_image {
    width: 300px;
  }
}
