.footer {
  background-color: black;
  color: whitesmoke;
  padding: 25px;
}

.social_icon_row {
  margin: 20px auto;
}

.social_icon {
  margin: 10px 30px;
}

.phone_link {
  text-decoration: none;
  color: whitesmoke;
  padding-bottom: 16px;
}

.phone_link:hover {
  color: rgb(147, 172, 223);
}

.phone_icon {
  font-size: 22px;
}
