.grid {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 40px;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .grid {
    justify-content: center;
  }
}
