.p {
  text-align: justify;
}

.time_container {
  font-size: larger;
}

.excursion_heading {
  text-align: center;
  font-weight: 300;
  color: rgb(223, 182, 79);
  font-size: 3rem;
  padding-top: 20px;
}

.excursion_subheading {
  color: rgb(223, 182, 79);
  font-weight: 400;
  padding-top: 20px;
}

.image_col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.large_image_container {
  margin-bottom: 20px;
}

.small_img {
  height: 90px;
  width: 135px;
}

.included,
.excluded,
.highlights,
.tips,
.coach_features {
  list-style-type: none;
}

.small_print_text {
  font-size: 0.8rem;
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

.small_print_divider {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .image_col {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }

  .small_img_container {
    display: inline-block;
    width: 150px;
    height: 90px;
  }

  .form_container {
    margin-top: 40px;
  }

  .large_image_container {
    width: 90vw;
  }

  .large_image {
    width: 90vw;
    object-fit: cover;
  }
}
