.inner_form_container {
  margin: 30px auto;
  padding: 20px;
  border-radius: 2px;
  color: whitesmoke;
  width: 60vw;
}

.message_container {
  margin: 30px auto;
  border-radius: 0px;
  text-align: center;
}

.variable_column {
  padding: 10px;
}

.success {
  color: forestgreen;
}

.error {
  color: crimson;
}
