.inner_form_container {
  margin-top: 30px;

  color: white;
  padding: 20px;
  border-radius: 10px;
}

.transfers_heading {
  text-align: center;
  margin: 20px auto;
  font-weight: 300;
  color: rgb(223, 182, 79);
  font-size: 3rem;
}

.transfer_category {
  font-weight: 300;
  color: rgb(223, 182, 79);
}

.transport_info_row {
  min-height: 55vh;
  margin-top: 30px;
}
