.heading {
  text-align: center;
  margin: 20px auto;
  font-weight: 300;
  color: rgb(223, 182, 79);
  font-size: 3rem;
}

.address_container {
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .address_container {
    margin-top: 0px;
    padding-left: 60px;
  }
}
