.heading {
  text-align: center;
  margin: 20px auto;
  font-weight: 300;
  color: rgb(223, 182, 79);
  font-size: 3rem;
}

.image_container {
  padding: 0;
  width: 100vw;
  height: 60vh;
  margin-bottom: 100px;
}

.hero_img {
  object-fit: cover;
  overflow: hidden;
  width: 100vw;
}
