.heading {
  text-align: center;
  margin: 20px auto;
}

.image_container {
  padding: 0;
  width: 100vw;
  height: 60vh;
  margin-bottom: 100px;
}

.hero_img {
  object-fit: cover;
  overflow: hidden;
  width: 100vw;
}
